.swipeButtons {
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}

.swipeButtons__repeat {
    padding: 3vw !important;
    color: rgb(185, 169, 20) !important;
}

.swipeButtons__left {
    padding: 3vw !important;
    color: rgb(221, 69, 22) !important;
}

.swipeButtons__star {
    padding: 3vw !important;
    color: rgb(12, 155, 211) !important;
}

.swipeButtons__right {
    padding: 3vw !important;
    color: rgb(16, 158, 58) !important;
}

.swipeButtons__lightning {
    padding: 3vw !important;
    color: rgb(134, 54, 224) !important;
}